# Node dependencies
node_modules/

# Build artefacts
dist/
lib/**/*.js
lib/**/*.js.map
handlers/**/*.js
handlers/**/*.js.map
modules/lambda/build/

# TypeScript cache
*.tsbuildinfo

# IDE/OS files
.DS_Store
.idea/
.vscode/

# Terraform local state
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
